<footer class="boder-top">
   
    <div class="f-left">
        <div>&copy;  2024 Airbnb, Inc.</div>
        <div class="f-info-links">
            <a class="social-links" href="/privacy">Privacy</a>
            <a class="social-links" href="/terms">Terms</a>
            <a class="social-links" href="/sitemap">Sitemap</a>
            <a class="social-links" href="/companydetails">Company details</a>
        </div>
    </div>
    <div class="f-info">
        <div class="f-info-other">
            <div class="f-info-lang">
                <i class="fa-solid fa-globe"></i>
                <p>English(In)</p>
            </div>
            <div class="f-info-currency">
                <p>₹ INR</p>
            </div>
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
</footer>