<% layout('layouts/boilerplate') %>

  <body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% listings.forEach((listing)=> { %>
        <a href="/listings/<%= listing.id %>" class="Listing-link">
          <div class="card cols">
            <img src="<%= listing.url %>" class="card-img-top" alt="Listing image" style="height: 20rem" />
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong class="card-desc">
                  <%= listing.title %>
                </strong>
                <br />
                <strong class="card-desc">₹ <%= listing.price.toLocaleString("en-IN") %></strong>
                night
              </p>
            </div>
          </div>
        </a>
        <% }) %>
    </div>
  </body>